.vscode/**
**/*.ts
**/*.map
*.vsix
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/**
server/**
test_perl_workspace
node_modules/
.eslintignore
.swcrc
